# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Professional Project Dirs
data/raw/
data/processed/ptbxl.db
data/processed/*.csv
outputs/models/*.pth
outputs/logs/*.log

# MLflow & Tracking
mlruns/
mlflow.db
.mlflow/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
