# --- PYTORCH & CORE ---
*.pth
*.pt
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- DATA & DATABASE ---
data/raw/*
!data/raw/.gitkeep
data/processed/ptbxl.db

# --- MLOPS & TRACKING ---
mlruns/
outputs/logs/*
outputs/models/*
!outputs/logs/.gitkeep
!outputs/models/.gitkeep

# --- OS & IDE ---
.vscode/
.idea/
.DS_Store
*.swp
*.bak

# --- ENVIRONMENT ---
.venv/
env/
venv/
venv.bak/
.env
