# --- CORE SCIENTIFIC STACK ---
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy

# --- SIGNAL PROCESSING ---
wfdb

# --- DEEP LEARNING ---
torch
torchvision
torchaudio

# --- MLOPS ---
mlflow
sqlite3
pathlib